ul {
    width: 1046px;
    text-align: center;
    margin: auto;
}

li {
    display: inline-block;
    margin: 5px
}

figure {
    display: inline-grid;
    text-align: center;
    font-size: smaller;
    border: thin silver solid;
    padding: 0.5em;
    margin: 0;
    box-shadow: #555 1px 1px 8px 1px;
  }

  figcaption{
      padding-top: .25em;
  }

  #thumbnailsList {
      margin-top: 1%;
  }

  button {
      height:20px;
      width:100px;
      text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
  }
