<!--<h2>{{title}}</h2>-->
<div class="row">
    <ul id="thumbnailsList">
        <li *ngFor = "let image of visibleImages">
            <figure>
              <app-item-detail></app-item-detail>
                <a routerLink="/item-detail">
                  <img src="{{image.url}}" width = "200" height = "200">
                </a>
			        	<button id ="like" ng-click="likeItem(image)" >Like</button>
                <figcaption>{{image.caption}}</figcaption>
            </figure>
        </li>
    </ul>
</div>
