
<body>
<!--<div class="input-group mb-3">-->
  <!--<input type="text" id="searchSubject" class="form-control" placeholder="Search...">-->
  <!--<div class="input-group-prepend">-->
    <!--<button class="btn btn-outline-secondary" type="button" (click) = "search()" >Go</button>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
    <ul id="thumbnailsList">

        <li *ngFor = "let image of visibleImages"  >
          <div class="imageCaption" *ngIf="image.category !== 'testCategory'">
            <figure>
              <button id = "like{{image.id}}" class ="like" (click)="likeItem(image.id,image)" style="display: inline; background-image: url('../../assets/img/blankcircle.png')"></button>
              <button id = "unlike{{image.id}}" class ="unlike" (click)="unlikeItem(image.id,image)" style="display: none; background-image: url('../../assets/img/checkmark.png')"></button>
                  <a class="btn" (click)="open(content)">
                    <img class="urlImage" src={{image.url}} width = "200" height = "200">
                  </a>
                  <figcaption>{{image.caption}}</figcaption>
            </figure>
          </div>


            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header" >
                <h4 style="center" align="center" class="modal-title"></h4>
                <button style="float:center" align="center" type="button" class="close" aria-label="Close"  (click)="d('Cross click')" >
                  <span aria-hidden="true">&times;</span>
                </button>


              </div>
              <p>&nbsp;</p>
              <div style="float:center" align="center" class="modal-body">
                <img class = "modalImg" src= {{image.url}} width = "60%" height = "60%">
                <p>&nbsp;</p>
                <h2>
                  <p style="float:center" align="center">{{image.name}}</p>
                </h2>
                <hr />
                <p>&nbsp;</p>
                <p style="border:3px; border-style:solid; border-color:#b3f0ff; padding: 1em;" align="center">{{image.description}}</p>
                <p>&nbsp;</p><p>&nbsp;</p>
                <p style="float:center" align="center">${{image.price}}.00</p>
                <p>&nbsp;</p><p>&nbsp;</p>
              </div>

              <div class="modal-footer">
                <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close click')" style = "float:right">Close</button>-->
              </div>
            </ng-template>

        </li>
    </ul>
</div>
</body>
