<div class="row">
    <ul id="thumbnailsList">
        <li *ngFor = "let image of visibleImages">
            <figure>
              <app-item-detail></app-item-detail>
                <a routerLink="/item-detail">
                  <img src="{{image.url}}" width = "200" height = "200">
                </a>
                <!---<button class ="like" ng-click="likeItem(image)" >Liked</button>-->
                <figcaption>{{image.caption}}</figcaption>
            </figure>
        </li>
    </ul>
</div>
